#input-wrapper {
    margin: 0px;
    padding: 0px;
}

#inputBox {
    background: #303440;
    border-width: 0px;
    color: white;
    float: right;
    width: 100%;
    overflow: auto;
	height: auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	border-radius: 3px;
	resize: none;
	font-size: 20px;
	line-height: 24px;
	padding: 8px;
    box-shadow: 0px 4px 10px -8px black;
    color: white;
    background: #303440;
}

.remove-margin {
    margin: 0px;
    padding: 0px;
}
